@media (min-width: 480px ) and (max-width: 768px) {
    .mc\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}

.text-barbina-brown {
    color: #260e06;
}

.text-barbina-light-brown {
    color: #401b10;
}

.text-barbina-dark-brown {
    color: #1f0d06;
}