body {
  background-color: #fafafa;
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.font-ubuntu {
  font-family: Ubuntu;
}

.text-barbina-brown{
  color: #2e160e;
}

.bg-barbina-brown{
  background-color: #6d483b;
}

.border-barbina-light-brown{
  border-color: #d8cbc6;
}

.border-barbina-brown{
  border-color: #d8d1cf;
}

.border-barbina-medium-brown{
  border-color: #aa9f9a;
}

.text-barbina-light-brown{
  color: #6b4234;
}

.text-barbina-light-brown::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ae9891;
  opacity: 1; /* Firefox */
}

.text-barbina-light-brown:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ae9891;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ae9891;
}

html {
  scroll-behavior: smooth;
}

.hover\:text-barbina-brown:hover{
  color: #2e160e;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.zoom-init-anim {
  animation-name: scale-in;
  animation-duration: .4s;
}

@keyframes scale-in {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    }
}